// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$border-radius: 16px;
window {
  // default font size: 11, font family: iosevka
  font-size: 14px;
  font-family: iosevka, sans-serif;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    margin: 4px;
  }
}

.Panel {
  // add transparency to the $bg-color using rgba()
  background-color: color-mix(in srgb, $bg_color 60%, transparent);
  border-radius: $border-radius;
  padding: 1px 8px;
  &:hover {
    background-color: color-mix(in srgb, $bg_color 90%, transparent);
  }
}

.SingleItem {
  padding: 1px;
}

button {
  // padding: inherit;
  // margin: inherit;
  border-radius: border-radius;
  background: none;
}


.flip-180 {
  transform: rotate(180deg);
}

.DateTime {
  
}

.WorkspaceButton {
    &.ActiveWindow {
      background-color: $bg-color; // no transparency
    }
}
