/* ;
@define-color primary-color #37B484
@define-color secondary-color #E8F0FE;
@define-color tertiary-color #F7CAC9;
@define-color accent-color #F44336;
@define-color neutral-color #212121; */

.taskbar-item {
    font-size: 1.5rem;
}

.taskbar-item.active {
    background-color: rgb(4, 66, 42);
}

.nixos-btn-icon {
    font-size: 1.5rem;
}

.taskbar-group {
    border: 2px solid #37B484;
    border-radius: 5%;
    padding: 0.1rem;
}
/* .taskbar-item:hover {
    background: @primary-color;
}

.powermenu-btn {
    background-color: @primary-color;
} */
.powermenu {
    padding: 0.5rem;
}
.sys-btn {
    font-size: 2rem;
}

.monitor-window {
    font-size: x-large;
    background-color: inherit;
}
.monitor-widget {
    padding: 0.5rem 1rem;
    background-color: rgb(4, 66, 42);
    border-radius: 5%;
}

.monitor-swapper {
    font-size: inherit;
}

window.notification-popups box.notifications {
    padding: .5em;
}

.notification-icon {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 0.25rem;
}

.notification-icon image {
    font-size: 2rem;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.notification-icon box {
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 7px;
}

.notification {
    min-width: 20rem;
    border-radius: 11px;
    padding: .25rem;
    margin: .25rem;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.notification .title {
    color: @theme_fg_color;
    font-size: 1.24em;
}

.notification .body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4rem;
    margin-top: .8rem;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
